@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy'), url(../fonts/Satisfy.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/****************************
*   FOR RESPONSIVENESS      *
****************************/
::selection {
  background: #4f5362;
  /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #4f5362;
  /* Gecko Browsers */
  color: #fff;
}
html {
  font-size: 14px;
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 17px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 1em;
    margin-bottom: 1.8em;
  }
}
/****************************
*      BODY DEFAULTS        *
****************************/
body {
  font-size: 1em;
}
a {
  color: #37a6c4;
}
a:hover {
  text-decoration: none;
  color: #5db9d1;
}
.bk-img {
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/books.jpg);
}
.bk-fixed {
  background-attachment: fixed;
}
/****************************
*      Border        *
****************************/
.brdr {
  border: 1px solid #f0f0f0;
}
/****************************
*      Text size color        *
****************************/
.font-one {
 font-family: 'Exo', sans-serif;
}
.text-bold {
  font-weight: bold;
}
.text-normal {
  font-weight: normal;
}
.text-thin {
  font-weight: 100;
}
.text-lowercase {
  text-transform: none;
}
.text-sm {
  font-size: 13px;
}
.text-lg {
  font-size: 18px;
}
.text-xl {
  font-size: 1.6em;
}
.text-2x {
  font-size: 2em;
}
.text-3x {
  font-size: 2.4em;
}
.text-4x {
  font-size: 3em;
}
.text-white,
.text-light {
  color: #fff !important;
}
/****************************
*       Margins         *
****************************/
.mt {
  margin-top: 18px;
}
.mt-0x {
  margin-top: 0 !important;
}
.mt-2x {
  margin-top: 36px;
}
.mt-3x {
  margin-top: 54px;
}
.mt-4x {
  margin-top: 90px;
}
.mt-5x {
  margin-top: 144px;
}
.mb {
  margin-bottom: 18px;
}
.mb-0x {
  margin-bottom: 0 !important;
}
.mb-2x {
  margin-bottom: 36px;
}
.mb-3x {
  margin-bottom: 54px;
}
.mb-4x {
  margin-bottom: 90px;
}
.mb-5x {
  margin-bottom: 144px;
}
.pt {
  padding-top: 18px;
}
.pt-2x {
  padding-top: 36px;
}
.pt-3x {
  padding-top: 54px;
}
.pt-4x {
  padding-top: 90px;
}
.pt-5x {
  padding-top: 144px;
}
.pb {
  padding-bottom: 18px;
}
.pb-2x {
  padding-bottom: 36px;
}
.pb-3x {
  padding-bottom: 54px;
}
.pb-4x {
  padding-bottom: 90px;
}
.pb-5x {
  padding-bottom: 144px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Login page */
.login-page {
  position: absolute;
  height: 100%;
  width: 100%;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #333333;
	text-align: center;
	opacity: 1;
}
.name{
	margin-top: 10px;
	font-family: 'Satisfy';
	font-size: 18px;
}
.name div{
	color: #fff;
	font-weight: 200;
}
.name div span{
	color: #5379fa !important;
}
.spacer{
  width: 100%;
  height: 200px;
}
