@import url(https://fonts.googleapis.com/css?family=Satisfy:100,200,400);
body{
  background: white url("images/")
}
.navbar {
  border-radius: 0;
}
.navbar-brand{
  font-family: 'Satisfy',fantasy;
  
}
