{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <!-- Albums -->
    <div class="row">
        <!--<div class="col-sm-12">
            <h3>{{ user.username }}'s Movies</h3>
        </div>-->
            {% if movies %}
                {% for movie in movies %}
                <div class="col-md-4" >
                    <div class="thumbnail">
                      <a href="{% url 'Movies:detail' movie.id %}">
                         <img src="{{ movie.Poster.url }}" class="img-responsive" style="max-height:440px">
                     </a>
                        <div class="caption">
                            <h3>{{ movie.Name }}</h3>
                            <h4>{{ movie.Year }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'Movies:detail' movie.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                            <!-- Favorite Album -->
                            <a href="" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star {% if movie.is_favorite %}active{% endif %}"></span>
                            </a>

                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

              </div>
            </div>



{% endblock %}
